.Contact {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact .Contactinfo {
  width: 80%;
  height: 85%;
  background-color: #f4d03f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  margin-top: 200px;
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.23);
}

.Contact .Contactinfo .box1 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact .Contactinfo .box1 p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 600;
}

.Contact .Contactinfo .item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Contact .Contactinfo .item div {
  width: 32%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
